html, body {
    margin: 0;
    padding: 0;
}

/* ------------------------- navigation --------------------------- */

#sticky-bar-mobile {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 4;
  }
  
  #sticky-bar-mobile img {
    width: 20px;
    height: 20px;
  }
  
  #sticky-bar-mobile span {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #143d59;
  }
  
  .nav-background {      /* sticky bar background on scroll */
    background: linear-gradient(to bottom, #ceeaf7, transparent);
  }
  
  .brand-mobile {
    position: absolute;
    top: 10px;
    left: 30px;
  }
  
  .nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #ceeaf7;
    z-index: 5;
    transform: translateX(100%);  /* mobile navigation at first slide out */
  }
  
  .nav-mobile nav ul {
    padding: 0;
    margin: 50px 0;
  }
  
  .nav-mobile nav ul li {
    list-style-type: none;
    margin: 80px 0 50px 20px;
  }
  
  .nav-mobile nav ul li:hover {
    background-color: #fcc729;
  }
  
  .nav-mobile nav ul li a {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #143d59;
  }
  
  #nav-bars, #nav-close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 1.5em;
    color: #143d59;
    z-index: 4;
    cursor: pointer;
  }
  
  .nav-overlay {           /* black overlay on main site when view nav */
    position: fixed;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
    z-index: 4;
  }
  
  .show {
    transform: translateX(0);         /* get back to original position */
    transition: transform linear 0.2s;
  }
  
  .hide {
    transform: translateX(100%);      /* slide out of screen */
    transition: transform linear 0.2s;
  }
  
  .fade-in {
    display: block;
    animation: fadeIn linear 0.2s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* -------------------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.container video {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.title {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    background-color: rgb(255, 255, 255, 0.8);
    position: absolute;
    margin-top: 20vh;
    padding: 0 50px;
}

.introduction {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding: 20px 100px;
    text-align: center;
}

.blog-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog {
    margin: 50px 0;
    text-decoration: none;
    color: black;
    width: 70%;
}

.blog-box {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 15px 1px grey;
    height: 150px;
    width: 100%;
    transition: all 0.2s ease;
}

.blog-box:hover {
    transform: translateY(-10px)
}

.blog-img {
  width: 40%;
}

.blog-img img {
    width: 100%;
    height: 100%;
}

.description {
    width: 70%;
    padding: 20px;
    margin: 0;
    background-color: #ceeaf7;
}

.outtro {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 0 50px 0;
}

@media only screen and (min-width: 1200px) {
    .container video {
        margin: -200px 0 0 0;
    }
}

/* ---------------------- CONTACT -------------------------- */
.contact {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: linear-gradient(45deg,  #F99FF9, #9FF9F1, #B2FC77, #FCF477);
    background-size: 400%;
    animation: animate 3s ease infinite;
  }
  
  @keyframes animate {
    0% {background-position: 0 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
  }
  
  .wrapper {
      max-width: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }
  
  .contact h2 {
      font-family: 'Archivo', sans-serif;
      font-size: 1em;
      font-weight: 600;
      color: #143d59;
      margin: 50px 0;
  }
  
  address {
      width: 100%;
      max-width: 250px;
      display: flex;
      flex-flow: column;
      text-align: center;
  }
  
  #mail {
      color: #143d59;
      font-style: normal;
      text-decoration: none;
  }
  
  address a {
      background-color: transparent;
  }
  
  .socials {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 40px 0;
  }
  
  #linkedin, #github, #behance {
      font-size: 3em;
      color: #143d59;
  }
  
  #linkedin:hover, #github:hover, #behance:hover {
      animation: shake 1s ease-in infinite;
    }
    
    @keyframes shake {
      0% {
        transform: scale(1.5) rotate(0deg);
      }
      25% {
        transform: scale(1.5) rotate(3deg);
      }
      50% {
        transform: scale(1.5) rotate(0deg);
      }
      75% {
        transform: scale(1.5) rotate(-3deg);
      }
      100% {
        transform: scale(1.5) rotate(0deg);
      }
    }
    
    #linkedin i:active, #github i:active, #behance i:active {
      transform: scale(0.8);
      transition: transform 0.2s;
    }
  
  #copyright {
      text-align: center;
      font-size: 0.875em;
      color: #143d59;
  }